<% layout('layouts/boilerplate') %>




    <h1 style="text-align: center;">
        <%= user.username %>
            <a href="/posts/<%=user._id%>/remove" class="btn btn-danger" style="float: right;">Remove Friend</a>
    </h1>

    <div class="mb-3">
        <div class="row">
            <% for(let camp of posts){ %>
                <div class='card col-md-4 my-4 mx-4' style="width: 20rem; text-align: center;" id="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            To : <%= camp.title %>
                        </h5>
                        <p class="card-text">
                            <%= camp.body %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <a href="/posts/<%=camp.author._id%>/page">
                                    <%= camp.author.username %>
                                </a>
                            </small>
                        </p>
                        <a href="/posts/<%=camp._id%>">View memory</a>
                    </div>
                </div>
                <%} %>
        </div>
    </div>

    <script>
        const colors = ['primary', 'secondary', 'success', 'danger', 'warning', 'info']

        let card = document.getElementsByClassName('card');
        for (let i = 0; i < card.length; i++) {
            let rn = Math.floor(Math.random() * 6) + 1;
            const classe = `border-${colors[rn]}`;
            card[i].classList.add(classe);
        }





    </script>