<% layout('layouts/boilerplate') %>

    <h1 style="text-align: center;">All Requests</h1>


    <div class="row mt-3"></div>
    <% for(let i=0; i<user.friendReqList.length; i++){ %>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        From : <%= user.friendReqList[i].username %>
                            <a href="/posts/<%=currentUser._id%>/memories/requests/<%=user.friendReqList[i]._id%>/accept"
                                class="btn btn-success" style="float: right; margin-left: 2rem;">Accept</a>
                            <a href="/posts/<%=currentUser._id%>/memories/requests/<%=user.friendReqList[i]._id%>/deny"
                                class="btn btn-danger" style="float: right;">Deny</a>
                    </h5>

                </div>
            </div>


            <% } %>

        </div>