<% layout('layouts/boilerplate') %>


    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        To : <%=post.title%>
                    </h5>
                    <p class="card-text">
                        <%=post.body%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%=post.privacy%>
                    </li>
                </ul>

                <% if(currentUser && post.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <a class="card-link btn btn-info text-white" href="/posts/<%=post._id%>/edit">Edit</a>
                        <form class="d-inline" action="/posts/<%=post._id%>?_method=DELETE" method="post">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                    <% } %>

            </div>
        </div>
        <div class="col-lg-6 col-md-12">

            <% if(currentUser){ %>
                <h2>Leave a comment</h2>
                <form action="/posts/<%=post._id%>/comment" method="POST" class="validated-form mb-3" novalidate>

                    <div class="mb-3">
                        <label for="body" class="form-label">Comment : </label>
                        <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="2"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>
                    <% for(let rev of post.comments){ %>
                        <div class="card mb-3">
                            <div class="card-body">


                                <p class="card-text"><b>
                                        <%=rev.author.username%>
                                    </b>: <%= rev.body %>
                                </p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-muted">
                                        <%=rev.time%>
                                    </li>
                                    <% if(currentUser && rev.author.equals(currentUser._id)) {%>
                                        <li class="list-group-item text-muted">
                                            <form action="/posts/<%=post._id%>/comment/<%=rev._id%>?_method=DELETE"
                                                method="post">
                                                <button style="float: right;" class="btn btn-sm btn-danger"><i
                                                        class="fa-solid fa-trash-can"></i></button>
                                            </form>
                                        </li>

                                        <% } %>
                                </ul>


                            </div>
                        </div>
                        <% } %>
        </div>
    </div>